<div class="info">
	<p><%= Date.today.strftime('%B %d, %Y (%a)') %></p>
    <%= @city %>
</div>

<div class="panel">
	<% if @air_quality %>
	<div class="image_set" style="background: url(<%= asset_path(determine_image(@air_quality.category_name)[:bg]) %>) no-repeat">
		<%= image_tag determine_image(@air_quality.category_name)[:cat] %>
	</div>
	<ul class="aqi_list">
		<li>
			<div class="aqi_block">
				<h1 class="value"><%= @yesterday_air_quality[:aqi] %></h1>
        <h1><%= Time.now.yesterday.strftime('%A') %></h1>
        <h1><%= @yesterday_temp[0] %>° / <%= @yesterday_temp[1] %>°</h1>
			</div>
		</li>
		<li>
			<div class="aqi_block today">
				<h1 class="value"><%= @air_quality.aqi %></h1>
				<h1>Today</h1>
        <h1><%= @temp %>°</h1>
			</div>
		</li>
		<li>
			<div class="aqi_block tomorrow">
				<h1 class="value"><%= @tomorrow_air_quality[:aqi] %></h1>
        <h1><%= Time.now.tomorrow.strftime('%A') %></h1>
        <h1><%= @tomorrow_temp[0] %>° / <%= @tomorrow_temp[1] %>°</h1>
			</div>
		</li>
	</ul>
	<% else %>
	<h1>Please wait while we determine your location</h1>
	<% end %>
</div>

<script>
	$(function() {
		var img = $("img");
		img.css({opacity: 0});
		img.each(function(i){ $(this).delay(200*i).animate({opacity:1}); });
		var lists = $("ul li");
		lists.css({opacity: 0});
		lists.each(function(i){ $(this).delay(300*i).animate({opacity:1}); });
	});
</script>
