<div class="info">
	<p><%= Date.today.strftime('%B %d, %Y (%a)') %></p>
</div>

<div class="panel">
	<% if @air_quality %>
	<%= image_tag 'excellent.png' %>
	<ul class="aqi_list">
		<li>
			<div class="aqi_block">
				<h1 class="value">89</h1>
				<h1>Last Year</h1>
			</div>
		</li>
		<li>
			<div class="aqi_block">
				<h1 class="value"><%= @yesterday_air_quality[:aqi] %></h1>
				<h1>Yesterday</h1>
			</div>
		</li>
		<li>
			<div class="aqi_block">
				<h1 class="value today"><%= @air_quality.aqi %></h1>
				<h1>Today</h1>
              <%= @temp %>°F
			</div>
		</li>
		<li>
			<div class="aqi_block">
				<h1 class="value"><%= @tomorrow_air_quality[:aqi] %></h1>
				<h1>Tomorrow</h1>
			</div>
		</li>
	</ul>
	<% else %>
	<h1>Please wait while we determine your location</h1>
	<% end %>
</div>

<script>
	$(function() {
		var img = $("img");
		img.css({opacity: 0});
		img.each(function(i){ $(this).delay(200*i).animate({opacity:1}); });
		var lists = $("ul li");
		lists.css({opacity: 0});
		lists.each(function(i){ $(this).delay(300*i).animate({opacity:1}); });
	});
</script>