<div class="info">
	<p><%= Date.today.strftime('%B %d, %Y (%a)') %></p>
    <%= @city %>
</div>

<div class="logo">
	<h1>Catmosphere</h1>
</div>

<div class="panel">
	<% if @air_quality %>
	<div class="image_set" style="background: url(<%= asset_path(determine_image(@air_quality.category_name)[:bg]) %>) no-repeat">
		<%= image_tag determine_image(@air_quality.category_name)[:cat], :class => "move" %>
	</div>
	<ul class="aqi_list">
		<li>
			<div class="aqi_block">
				<h2 class="value"><%= @yesterday_air_quality[:aqi] %></h2>
        <h2><%= Time.now.yesterday.strftime('%A') %></h2>
        <h2><%= @yesterday_temp[0] %>° / <%= @yesterday_temp[1] %>°</h2>
			</div>
		</li>
		<li>
			<div class="aqi_block today">
				<h2 class="value"><%= @air_quality.aqi %></h2>
				<h2>Today</h2>
        <h2><%= @temp %>°</h2>
			</div>
		</li>
		<li>
			<div class="aqi_block tomorrow">
				<h2 class="value"><%= @tomorrow_air_quality[:aqi] %></h2>
        <h2><%= Time.now.tomorrow.strftime('%A') %></h2>
        <h2><%= @tomorrow_temp[0] %>° / <%= @tomorrow_temp[1] %>°</h2>
			</div>
		</li>
	</ul>
	<% else %>
	<div class="loading">
		<%= image_tag(asset_path('astronaut.png')) %>
	</div>
	<h2>Loading...</h2>
	<% end %>
</div>

<div class="footer">
	<p>Catmosphere shows the Air Quality Index (AQI) for your location with a cat that changes faces depending on the number to let you know whether the air is healthy or not. We also threw in the weather to make it even better.</p>
</div>

<script>
	$(function() {
		var img = $("img");
		img.css({opacity: 0});
		img.each(function(i){ $(this).delay(200*i).animate({opacity:1}); });
		var lists = $("ul li");
		lists.css({opacity: 0});
		lists.each(function(i){ $(this).delay(300*i).animate({opacity:1}); });
	});
</script>

